* text=auto

*.config        text
*.cs            text
*.csproj        text
*.css           text
*.dbproj        text
*.hbs           text
*.htm           text
*.html          text
*.java          text
*.js            text
*.jscsrc        text
*.jshintignore  text
*.jshintrc      text
*.json          text
*.less          text
*.md            text
*.proj          text
*.ps1           text
*.psd1          text
*.psm1          text
*.py            text
*.rb            text
*.rptproj       text
*.sh            text
*.sln           text
*.sqlproj       text
*.svg           text
*.txt           text
*.vbp           text
*.vbproj        text
*.xml           text
*.yml           text

*.ai    binary
*.dll   binary
*.gif   binary
*.ico   binary
*.jar   binary
*.jpeg  binary
*.jpg   binary
*.mp3   binary
*.ogg   binary
*.otf   binary
*.png   binary
*.so    binary
*.psd   binary
*.sdf   binary
*.svg   binary
*.ttf   binary
*.wav   binary
*.woff  binary

*.DOC   diff=astextplain
*.doc   diff=astextplain
*.DOC   diff=astextplain
*.doc   diff=astextplain
*.DOCX  diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.docx  diff=astextplain
*.DOCX  diff=astextplain
*.docx  diff=astextplain
*.dot   diff=astextplain
*.DOT   diff=astextplain
*.dot   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.pdf   diff=astextplain
*.PDF   diff=astextplain
*.pdf   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
*.rtf   diff=astextplain
*.RTF   diff=astextplain
